.no-padding{
  padding: 0;
}
.padding{
  padding: 1em;
}
.padding-top{
  padding-top: 1em;
}
.padding-bottom{
  padding-bottom: 1em;
}
.padding-left{
  padding-left: 1em;
}
.padding-right{
  padding-right: 1em;
}
.no-margin{
  margin: 0;
}
.margin{
  margin: 1em;
}
.margin-top{
  margin-top: 1em;
}
.margin-bottom{
  margin-bottom: 1em;
}
.margin-left{
  margin-left: 1em;
}
.margin-right{
  margin-right: 1em;
}
.full-width{
  width: 100%;
}
.text-center{
  text-align: center;
}